body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}

.slide {
    height: 35rem;
    display: flex;
    flex-direction: column;
    /* padding-left: 45%; */
    padding-left: 25%;
}

.landing {
    background: rgb(50, 50, 50);
    color: rgb(225, 225, 225);
}

i {
    color: goldenrod;
}

#logo {
    font-size: 10rem;
}
