body {
  font-family: Helvetica;
}
#logo {
  position: absolute;
  font-size: 10rem;
  color: goldenrod;
  margin: 0% 45%;
  -webkit-animation: rotation 7s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.background {
  background: rgb(50, 50, 50);
  /* background-image: linear-gradient(rgb(50, 50, 50) 80%, white); */
}

.slide {
  background: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
}

.landing {
  text-align: center;
  color: rgb(225, 225, 225);
  padding: 5% 0%;
}

h2 {
  margin-top: 20%;
  margin-bottom: 14%;
  font-size: 2rem;
}

.downArrow {
  color: goldenrod;
  font-size: 2rem;
  margin: 5% 49%;
  /* Fade in Animation Part 1 / 2 */
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
/* Fade in Animation Part 2 / 2 */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pieArrow {
  margin: 2% 49%;
}

.lower {
  margin: 8.5% 49%;
}

.higher {
  margin: 1% 49%;
}
.rainMatrix {
  margin: 0% 30%;
}
.rainRow1 {
  display: flex;
  margin: 4% 0%;
  justify-content: space-around;
}
.rainRow2 {
  display: flex;
  justify-content: space-between;
}

.drop0 {
  color: rgb(97, 218, 251);
}

.drop {
  color: rgb(97, 218, 251);
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drop2 {
  color: rgb(97, 218, 251);
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brelly {
  color: goldenrod;
  font-size: 10rem;
  margin: 0% 44.5%;
}

.text {
  margin: 3% 25%;
  font-size: 1.1rem;
  line-height: 175%;
  color: rgb(225, 225, 225);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 10% 15%;
}

button {
  padding: 4%;
  color: rgb(50, 50, 50);
  background: rgb(97, 218, 251);
  border-radius: 5%;
  border: rgb(97, 218, 251);
  font-size: 1rem;
}

button:active {
  background-color:white;
  
}
.round2 {
  margin-top: 10%;
}

.third {
  margin-top: 0% 10%;
}

.second,
.fifth {
  margin-top: 0% 10%;
}

.break {
  margin-bottom: 5%;
}

.ray {
  color: rgb(0, 158, 96);
}

.footer {
  padding: 4% 42.5%;
  color: rgb(225, 225, 225);
  opacity: 10%;
}

.shamrock{
  color: rgb(0, 158, 96);
  font-size: 150%;
}

.b2 {
  background: goldenrod;
}

a {
  text-decoration: none;
}

.sub {
  margin-left: 35%;
  font-size: 1.1rem;
}