.background {
    background: rgb(50, 50, 50);
    /* background-image: linear-gradient(rgb(50, 50, 50) 80%, white); */
    height: 200rem;
}

.slide {
    height: 35rem;
    display: flex;
    flex-direction: column;
}

.landing {
    color: rgb(225, 225, 225);
    margin: 0 5%;
    padding-top: 5%;
}   

h2 {
    margin: 5% auto;
}

.downArrow {
    color: goldenrod;
    padding: 0 51%;
    margin: 12% 0;
}

#logo {
    font-size: 10rem;
    color: goldenrod;
    padding: 0 42.5%;
}


.footer {
    color: green;
    margin: 4% 35%;
}

.text {
    margin: 0% 15%;
    color: rgb(225, 225, 225);
}

.chartSubText {
    margin: 5% 15%;
    color: rgb(225, 225, 225);
}

.third {
    margin-top: 0 10%;
}

.second {
    margin-top: 0 10%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 10% 15%;
}

.pie {
    margin: 5% 35%;
    background: white;
    height: 10rem;
}

.ray {
    color: red;
}